.checkers-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkers-board {
    background: #fff;
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.checkers-tile {
    width: 12.5%;
    height: 12.5%;
}

.checkers-tile-dark {
    background-color: black;
}

.checkers-tile-light {
    background-color: white;
}